.ProductCard {
  // padding-block: 100px;
  margin-block: 20px;
  justify-content: center;
  // background-color: white;
  height: 200px;

  :hover {
    cursor: pointer;
    // transform: scale(1.2);
    // transition: transform 0.4s;
  }

  &-Image {
    border: 1px solid black;
    border-radius: 10px;
  }
}
